<div class="container-md mt-5">
    <div class="row align-items-center">
        <div class="col-md-7 text-start">
            <p class="border border-2 border-danger rounded"
               style="width: 2rem; margin-bottom: 0rem"></p>
            <p class="display-6">Our Introduction</p>
            <p class="display-5 fw-bold">Professional Driving Lessons Available</p>
            <p class="fw-bold fs-3 text-danger">
                Our driving school offers flexible scheduling options to fit your busy
                lifestyle.
            </p>
            <p>
                We offer a range of courses, from beginner lessons to advanced driving
                techniques. Get behind the wheel and learn to drive with confidence with
                our expert instructors. Our driving school has a high success rate, and
                we will work with you until you pass your driving test.
            </p>
            <div class="row">
                <p class="col-md-6 d-flex align-items-center">
                    <span class="material-icons text-danger" style="font-size: 4rem">
                        directions_car
                    </span><span class="fs-3">Best School</span>
                </p>
                <p class="col-md-6 d-flex align-items-center">
                    <span class="material-icons text-danger" style="font-size: 4rem">
                        group
                    </span><span class="fs-3">Best Teachers</span>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/images/img_01.jpg"
                 alt=""
                 class="img-fluid rounded" />
        </div>
    </div>
</div>
