<div class="container-fluid bg-primary">
  <div
    class="row text-nowrap justify-content-lg-end align-items-lg-center pt-lg-2 text-light fs-6"
  >
    <p class="col-lg-auto d-flex">
      <span class="material-icons pe-1"> phone </span> 1-800-123-6889
    </p>
    <p class="col-lg-auto d-flex">
      <span class="material-icons pe-1"> place </span> 8th floor, 379 Hudson St,
      New York
    </p>
    <p class="col-lg-auto d-flex">
      <span class="material-icons pe-1"> schedule </span> 09:30 am – 06:00 pm
    </p>
  </div>
</div>
