.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

@media (min-width: 728px) {
  .card-img-top {
    height: 13rem;
  }
}

@media (min-width: 1024px) {
  .card-img-top {
    height: 12rem;
  }
}
