<div class="container-fluid">
    <div class="container-sm row m-auto gap-2">
        <div class="card shadow-lg rounded-3 border-0 col-lg">
            <div class="card-body">
                <span class="material-icons text-danger" style="font-size: 5rem">
                    calendar_month
                </span>
                <h5 class="card-title display-6 fw-bold">8</h5>
                <p class="card-text">Years in service</p>
            </div>
            <div class="card-hover"></div>
        </div>
        <div class="card shadow-lg rounded-3 border-0 col-lg">
            <div class="card-body text-start">
                <span class="material-icons text-danger" style="font-size: 5rem">
                    badge
                </span>
                <h5 class="card-title display-6 fw-bold">1000</h5>
                <p class="card-text">Successfully Obtained Licenses</p>
            </div>
            <div class="card-hover"></div>
        </div>
        <div class="card shadow-lg rounded-3 border-0 col-lg">
            <div class="card-body">
                <span class="material-icons text-danger" style="font-size: 5rem">
                    school
                </span>
                <h5 class="card-title display-6 fw-bold">400</h5>
                <p class="card-text">Active Students</p>
            </div>
            <div class="card-hover"></div>
        </div>
        <div class="card shadow-lg rounded-3 border-0 col-lg">
            <div class="card-body">
                <span class="material-icons text-danger" style="font-size: 5rem">
                    people
                </span>
                <h5 class="card-title display-6 fw-bold">50</h5>
                <p class="card-text">Registered Teachers</p>
            </div>
            <div class="card-hover"></div>
        </div>
    </div>
</div>
