<div class="container-md mt-5">
  <div class="row align-items-center">
    <div class="col-md-7 text-start">
      <p
        class="border border-2 border-danger rounded"
        style="width: 2rem; margin-bottom: 0rem"
      ></p>
      <p class="display-6">Our Introduction</p>
      <p class="display-1 fw-bold">Schedule Your Driving Lessons with Us</p>
      <p class="fw-bold fs-3 text-danger">
        Vestibulum odio nisl, eumdod sed elit sed, sagittis laoreet lacus.
      </p>
      <p>
        There are many variations of passages of but majority is have suffered
        alteration in some form by injected humour or not randomised words.
        Donec egestas purus eget fringilla.
      </p>
      <div class="row">
        <p class="col-md-6 d-flex align-items-center">
          <span class="material-icons text-danger" style="font-size: 4rem">
            directions_car </span
          ><span class="fs-3">Best School</span>
        </p>
        <p class="col-md-6 d-flex align-items-center">
          <span class="material-icons text-danger" style="font-size: 4rem">
            group </span
          ><span class="fs-3">Best Teachers</span>
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <img
        src="../../assets/images/img_01.jpg"
        alt=""
        class="img-fluid rounded"
      />
    </div>
  </div>
</div>
