.carousel-caption {
  top: 20%;
  bottom: auto;
}

.carousel-item.active {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-item.active img {
  object-fit: cover;
}

/* The animations for the captions - START */
.carousel-item .slide1 {
  animation: slide-from-left 0.5s ease-in-out;
}
@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel-item .slide2 {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-item .slide3 {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  from {
    transform: translateY(-200%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateY(-20%);
    animation-timing-function: ease-in;
  }
  to {
    transform: translateY(0);
  }
}

/* FOR THE BUTTONS */
.btn-danger {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.animate__animated {
  animation-duration: 1s;
}

.animate__bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, -25%, 0);
  }

  30% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }

  50%,
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0);
  }

  80% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  to {
    transform: translateZ(0);
  }
}

.second-btn {
  transition: all 0.2s ease-in-out;
}

.second-btn:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  transform: rotate(360deg) scale(1.2);
}

.third-btn {
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.third-btn:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.third-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(2);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

/* BUTTONS END */

/* Adding the dark overlay on the images because of the text */
@media (min-width: 728px) {
  .carousel-item::before {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* The animations for the captions - END */

/* The images */

.the_slide {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
@media (min-width: 728px) {
  .the_slide {
    height: 25rem;
  }
}
@media (min-width: 1024px) {
  .the_slide {
    height: 30rem;
  }
}
/* The images - END */
