<div class="container-fluid bg-light mt-5 py-5">
  <app-school-statistics></app-school-statistics>

  <div class="container-sm text-center my-5">
    <p
      class="border border-2 border-danger m-auto rounded"
      style="width: 2rem; margin-top: -0.5rem !important"
    ></p>
    <p>Courses We Offer</p>
    <p class="display-6 text-uppercase">Our Driving Courses</p>
  </div>
  <div class="container-fluid row m-auto gap-2">
    <div class="card shadow-lg rounded-3 border-0 col-lg">
      <img
        src="../../assets/images/img_05.jpg"
        class="card-img-top rounded-3"
        alt="Driving Course Image"
      />
      <div class="card-body">
        <h5 class="card-title fw-bold fs-4">Beginner's Driving Course</h5>
        <p class="fs-5 fw-bold text-muted">R1500</p>
        <small class="text-muted d-flex align-items-center"
          ><span class="material-icons"> comment </span>10 comments</small
        >

        <a href="#" class="btn btn-danger w-100 mt-3">COURSE DETAIL</a>
      </div>
    </div>
    <div class="card shadow-lg rounded-3 border-0 col-lg">
      <img
        src="https://images.unsplash.com/photo-1604447199408-9798f9f64f88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="card-img-top rounded-3"
        alt="Driving Course Image"
      />
      <div class="card-body">
        <h5 class="card-title fw-bold fs-4">Beginner's Driving Course</h5>
        <p class="fs-5 fw-bold text-muted">R1500</p>
        <small class="text-muted d-flex align-items-center"
          ><span class="material-icons"> comment </span>10 comments</small
        >

        <a href="#" class="btn btn-danger w-100 mt-3">COURSE DETAIL</a>
      </div>
    </div>
    <div class="card shadow-lg rounded-3 border-0 col-lg">
      <img
        src="https://images.unsplash.com/photo-1607913894042-2c770aa8a0e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="card-img-top rounded-3"
        alt="Driving Course Image"
      />
      <div class="card-body">
        <h5 class="card-title fw-bold fs-4">Beginner's Driving Course</h5>
        <p class="fs-5 fw-bold text-muted">R1500</p>
        <small class="text-muted d-flex align-items-center"
          ><span class="material-icons"> comment </span>10 comments</small
        >

        <a href="#" class="btn btn-danger w-100 mt-3">COURSE DETAIL</a>
      </div>
    </div>
    <div class="card shadow-lg rounded-3 border-0 col-lg">
      <img
        src="https://images.unsplash.com/photo-1609731791145-b2eb1f95e808?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="card-img-top rounded-3"
        alt="Driving Course Image"
      />
      <div class="card-body">
        <h5 class="card-title fw-bold fs-4">Beginner's Driving Course</h5>
        <p class="fs-5 fw-bold text-muted">R1500</p>
        <small class="text-muted d-flex align-items-center"
          ><span class="material-icons"> comment </span>10 comments</small
        >

        <a href="#" class="btn btn-danger w-100 mt-3">COURSE DETAIL</a>
      </div>
    </div>
  </div>
</div>
