<div id="testimonials-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="testimonial">
              <p class="testimonial-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                suscipit felis at orci laoreet, sed accumsan dolor pharetra. Nam
                et leo id urna consequat egestas a eget est. Fusce eu congue
                lacus. Donec quis lacinia turpis.
              </p>
              <div class="testimonial-author">
                <img
                  class="testimonial-image"
                  src="https://via.placeholder.com/150"
                  alt=""
                />
                <div class="testimonial-author-info">
                  <h4 class="testimonial-author-name">John Doe</h4>
                  <p class="testimonial-author-job">CEO, Example Inc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="testimonial">
              <p class="testimonial-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                suscipit felis at orci laoreet, sed accumsan dolor pharetra. Nam
                et leo id urna consequat egestas a eget est. Fusce eu congue
                lacus. Donec quis lacinia turpis.
              </p>
              <div class="testimonial-author">
                <img
                  class="testimonial-image"
                  src="https://via.placeholder.com/150"
                  alt=""
                />
                <div class="testimonial-author-info">
                  <h4 class="testimonial-author-name">Tatenda Nyamuda</h4>
                  <p class="testimonial-author-job">CEO, Example Inc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="testimonial">
              <p class="testimonial-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                suscipit felis at orci laoreet, sed accumsan dolor pharetra. Nam
                et leo id urna consequat egestas a eget est. Fusce eu congue
                lacus. Donec quis lacinia turpis.
              </p>
              <div class="testimonial-author">
                <img
                  class="testimonial-image"
                  src="https://via.placeholder.com/150"
                  alt=""
                />
                <div class="testimonial-author-info">
                  <h4 class="testimonial-author-name">Isaac Newton</h4>
                  <p class="testimonial-author-job">Scientist</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
